version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  backend:
    image: ${DOCKER_USERNAME}/mean-backend:latest
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/testdb
    depends_on:
      - mongodb
    restart: always

  frontend:
    image: ${DOCKER_USERNAME}/mean-frontend:latest
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongodb_data:
